/* Estilos para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
  }
  
  /* Estilos para la barra de navegación */
  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
  }
  
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos para el contenido principal */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .color {
    color: #333;
    font-weight: bold;
  }
  
  .btn-hero {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn-hero:hover {
    background-color: #fff;
    color: #333;
  }